form.signup,
form.login {
  margin-top: 50px;
}

#welcomeBanner {
  margin: 25px 0px 25px 0px;
}



/* #dogOfTheDayCard {
  
} */

#checklistCard {
  
login {
  background-color: lightgray;
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
}

.item{
  display: block;
  width: 50px;
}

label {
  display: inline;
}

input[type=checkbox] {
  display: inline;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  
}