form.signup,
form.login {
  margin-top: 50px;
}

#welcomeBanner {
  margin: 20px
}

/* #dogOfTheDayCard {
  
}

#checklistCard {
  
login {
  background-color: lightgray;
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
} */