
form.signup,
form.login {
  margin-top: 50px;
}

#welcomeBanner {
  margin: 25px 0px 25px 0px;
}



/* #dogOfTheDayCard {
  
} */

#doggyImage{
  max-width: 150px;
  max-width: 150px;
}


.login {
  background-color: lightgray;
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
}

label {
  display: inline;
}

input[type=checkbox] {
  display: inline;
}

input {
  margin:10px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  
}
