form.signup,
form.login {
  margin-top: 25px;
}

#welcomeBanner {
  margin: 25px 0px 25px 0px;
}

#doggyImage{
  max-width: 150px;
  max-width: 150px;
}

label {
  display: inline;
}

input[type=checkbox] {
  display: inline;
}

input {
  margin:10px;
}

#petform{
  
     height: 400px; 
    margin-top: 50px;
    margin-bottom: auto;
    
    
     /* width: 50%; */
    background-color: rgba(0,0,0,0.5) !important;
    border-radius: 20px;
    color :rgb(92, 216, 92);
  
}
.form1{
  margin-left: 20px;
}
.backgroundimg {
background-image: url("./image/paw-print-background.png");  
background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;
}

#loginCard {
  margin-top: 30px;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 35px;
}

#signupCard {
  margin-top: 30px;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 35px;
}

#loginBody {
  width: 100%;
  position: relative;
  z-index: 1;
}

#signupBody {
  width: 100%;
  position: relative;
  z-index: 1;
}
